.mainDiv {
  margin-top: 10%;
}
.signUp {
  margin: auto;
  width: 20%;
  padding: 10px;
  -webkit-box-shadow: -1px 0px 61px -10px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -1px 0px 61px -10px rgba(0, 0, 0, 0.61);
  box-shadow: -1px 0px 61px -10px rgba(0, 0, 0, 0.61);
}
.signUp div {
  margin: 10px;
}
.signUp button {
  border-radius: 50px;
}
.signUp input {
  border-radius: 50px;
}
.span {
  text-decoration: underline;
  cursor: pointer;
}
.haveAnAccount {
  margin: auto;
  width: 20%;
  padding: 10px;
  -webkit-box-shadow: -1px 0px 61px -10px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -1px 0px 61px -10px rgba(0, 0, 0, 0.61);
  box-shadow: -1px 0px 61px -10px rgba(0, 0, 0, 0.61);
}
